<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
  <div class="pace-progress-inner"></div>
</div>
  <div class="pace-activity"></div></div>

<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top top-nav-collapse" role="navigation">
  <div class="container">
    <div class="menu-container page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#intro">
        <span>Q</span>TN Global
        <!-- <img src="assets/img/logo1.png" alt="Logo"> -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="menu-container">
        <ul class="nav navbar-nav">
          <li class="page-scroll home active">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#body">Home</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#about">About Us</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#services">Services</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#news">News</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#portfolio">Portfolio</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/index.html#contact">Contact</a>
          </li>
          <li class="page-scroll">
            <a href="http://htmlstream.com/preview/unify-v1.7/index.html">Main</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!--=== End Header ===-->

<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="fullscreenbanner-container" style="max-height: none; overflow: visible; height: 635px;">
    <div class="fullscreenbanner revslider-initialised tp-simpleresponsive" id="revslider-505" style="height: 100%; max-height: none;">
      <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">

      </ul>
</section>
<!-- End Intro Section -->


<div class="block-v1">
  <div class="container">
    <div class="row content-boxes-v3">
      <div class="col-md-4 md-margin-bottom-30">
        <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">Creative Desgin</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
      </div>
      <div class="col-md-4 md-margin-bottom-30">
        <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">Web Development</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
        <div class="content-boxes-in-v3">
          <h2 class="heading-sm">Online Marketing</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<section id="contact" class="contacts-section">
  <div class="container content-lg">
    <div class="title-v1">
      <h2>Contact Us</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        It has been the industry's standard dummy text.</p>
    </div>

    <div class="row contacts-in">
      <div class="col-md-6 md-margin-bottom-40">
        <ul class="list-unstyled">
          <li><i class="fa fa-home"></i> 5B Streat, City 50987 New Town US</li>
          <li><i class="fa fa-phone"></i> 1(800) 220 084</li>
          <li><i class="fa fa-envelope"></i> <a href="http://htmlstream.com/preview/unify-v1.7/One-Page/info@example.com">info@example.com</a></li>
          <li><i class="fa fa-globe"></i> <a href="http://htmlstream.com/">www.htmlstream.com</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <form action="http://htmlstream.com/preview/unify-v1.7/One-Page/assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style" novalidate="novalidate">
          <fieldset>
            <label>Name</label>
            <div class="row">
              <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                <div>
                  <input type="text" name="name" id="name" class="form-control">
                </div>
              </div>
            </div>

            <label>Email <span class="color-red">*</span></label>
            <div class="row">
              <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                <div>
                  <input type="text" name="email" id="email" class="form-control">
                </div>
              </div>
            </div>

            <label>Message</label>
            <div class="row">
              <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                <div>
                  <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                </div>
              </div>
            </div>

            <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
          </fieldset>

          <div class="message">
            <i class="rounded-x fa fa-check"></i>
            <p>Your message was successfully sent!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
