
<div ng-controller="UploadCtrl" nv-file-drop uploader="uploader">
<div class="box">
  <div class="l-content clearfix">
    <div class="indash_blog" style="min-height: 306px; background-color: rgb(250, 250, 250);">
      <div class="header">
        <div class="indash_header_wrapper has_info tumblelog_name_solidblackdn" style="background-color:#FAFAFA; color:#444444">
          <div class="navigation">
            <div class="navigation_inner">
              <div class="hide1">
                <h3>
                  <a href="" class="blog_name" target="_blank">
                    <span class="name">{{user.username}}</span>
                  </a>
                </h3>
                <div class="header_controls">
                  <button class="chrome big customize_button" type="button" ng-click="changeCover()" data-url="/settings/blog/{{user_name}}">Update cover</button>
                </div>
              </div>
              <div class="hide2">
                <h3>Edit appearance</h3>
                <button class="chrome big black cancel_button" ng-click="changeCover()" type="button">Cancel</button>
                <button class="chrome big black " ng-click="uploadCover(uploader.queue[uploader.queue.length-1])" type="button">Update Cover</button>
              </div>
              <div ng-hide="uploader.queue.length" class="input-group pull-right coverButtonUpload" style="margin-top: 10px">
                    <span class="file-input chrome big black btn btn-block btn-file">
                        <i class="fa fa-pencil"></i>&hellip; <input nv-file-select class="coverImage" type="file" accept="image/*" uploader="uploader"/>
                    </span>
              </div>
            </div>
          </div>
          <div class="header_image_wrapper has_avatar" style="height: 380px">
            <div class="header_image" style="height: 380px;>
              <a href=" target="_blank">
                <img id="coverImage" src="{{user.cover}}" alt="cover_image"/>
              </a>
            </div>
          </div>
          <div class="avatar square show1" style="color: rgb(250, 250, 250); text-align: center; background-color: rgb(250, 250, 250);">
            <a href="" target="_blank">
              <img id="avatarImage" src="{{user.avatar}}" target="_blank" alt="avatar_image">
            </a>
          </div>

          <div class="avatarSolution" style="text-align: center">
            <div ng-hide="uploader.queue.length" class="input-group avatarButtonUpload" >
                    <span class="file-input chrome big black btn btn-block btn-file" style="width: 50px;margin: auto; margin-bottom: 10px">
                        <i class="fa fa-pencil"></i>&hellip; <input nv-file-select class="avatarImage" type="file" accept="image/*" uploader="uploader"/>
                    </span>
            </div>
            <div class="show1">
              <div class="header_controls">
                <button class="btn btn-success" class="chrome big customize_button" type="button" ng-click="changeAvatar()" data-url="/settings/blog/{{user_name}}">Update Avatar</button>
              </div>
            </div>
            <div class="show2">
              <button class="chrome big black cancel_button" ng-click="changeAvatar()" type="button">Cancel</button>
              <button class="chrome big black " ng-click="uploadAvatar(uploader.queue[uploader.queue.length-1])" type="button">Update Avatar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-header">
    <h3 class="box-title" translate>
      Your profile
    </h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-8">
        <formly-form result="user" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
      </div>
      <div class="col-md-4">
        <div class="box box-solid bg-light-blue">
          <div class="box-header">
            <h3 class="box-title" >
              {{ 'Your Gravatar' | translate }}
              <small><a href="http://gravatar.com" translate>Change it here!</a></small>
            </h3>
          </div>
          <div class="box-body">
            <div class="text-center">
              <img gravatar-src="user.email" class="img-circle" alt="User Image" gravatar-size="150">
            </div>
          </div>
          <div class="box-header">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="controls">
      <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Update profile</button>
    </div>
  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>
</div>
<div data-page-id="1">
  <article class="photo not-page post-123085548250" data-post-id="post_123085548250">
    <div class="post-wrapper clearfix">
      <section class="post">
        <figure class="post-content high-res with-caption" data-photo-width="1280">
          <div class="photo-wrapper">
            <div class="photo-wrapper-inner">
              <a href="http://solidblackdn.tumblr.com/image/123085548250">
                <img src="/" alt="/" width="1280" height="640">
              </a>
            </div>
          </div>
          <figcaption class="caption">
            <p>{{}}</p>
          </figcaption>
        </figure>
        <section class="inline-meta post-extra">
        </section>
      </section>
      <section class="panel">
        <footer class="post-footer">
          <section class="inline-meta date-notes">
            <div class="date-note-wrapper">
              <a src="/" alt="{{}}" class="meta-item post-date">{{}}</a>
            </div>
          </section>
          <section class="post-controls">
            <div class="controls-wrapper">
            </div>
          </section>
        </footer>
      </section>
    </div>
  </article>
</div>
<script>
  $(function(){
    $(".coverImage").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = imageIsLoaded2;
        reader.readAsDataURL(this.files[0]);
      }
    });
    $(".avatarImage").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = imageIsLoaded1;
        reader.readAsDataURL(this.files[0]);
      }
    })
  });
  function imageIsLoaded1(e) {
    $('#avatarImage').attr('src', e.target.result);
  };
  function imageIsLoaded2(e) {
    $('#coverImage').attr('src', e.target.result);
  };
</script>
