<div container class="masonry-article">
  <div class="boxEx" ng-repeat="item in articles">
    <div ng-mouseenter="show = true" ng-mouseleave="show = false">
      <div class="top-box">
        <div class="avatarEx" style="z-index: 3">
          <img rel="{{item.id}}" ng-mouseenter="display(item)" ng-src="{{item.ava}}" />
        </div>
        <div class="post_info_qtnglobal User_name" style="z-index: 2">
          <a href="#">{{item.ownerName}}</a>
        </div>
        <div class="box-tools pull-right">

      <span class="pull-right btn-group" style="margin-top: 7px;z-index: 2">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>

        </div>
      </div>
      <div class="mid-box">
        <div class="item-photo">
          <img ng-src="{{item.image}}" ng-click="open(item)"/>
          <a> <br></a>
          <script type="text/ng-template" id="myModalContent.html" >
            <div class="modal-header">
              <a href="#">{{items.ownerName}}</a>
            </div>
            <img ng-src="{{items.image}}" />
            <div class="modal-footer">
              <button class="btn" ng-click="ok()">OK</button>
              <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <video controls ng-show="{{item.video}}" ng-src="{{item.video | trusted}}" style="width:100%" ></video>
          <audio controls ng-show="{{item.audio}}" ng-src="{{item.audio | trusted}}" style="width:100%"></audio>
        </div>
      </div>
      <div class="bot-box">
        <div class="ct-pt-title">
          <h3>
            {{item.title}}
          </h3>

        </div>
        <div class="ct-pt-content" >
          <p ng-bind-html='deliberatelyTrustDangerousContent(item)'>
          </p>
        </div>
        <div class="footer-bot-box">
          <div class="date_update_photo">
            <p style="font-size: 12px">{{item.created | date:'fullDate'}}</p>
          </div>
          <span class="text-muted">
            &middot;
            <a href="#" title="Like"><i class="fa fa-heart"></i> </a>
            <a href="#" ng-click="showme=true" title="Comment"><i  class="fa fa-comment"></i></a>
            <a href="#" title="Share"><i class="fa fa-share"></i> </a>
          </span>
          <!--<div  ng-show="showme" style=" width: 100%; padding: 10px" >-->
          <!--<div class="comment-content" style="float: right">-->
          <!--</div>-->
          <!--<p>{{item.ownerName}}: <input type="text" ng-model="commentPhoto"></p>-->
          <!--<a ng-click="showme=false" style="position:relative;float: right">Hide</a>-->
          <!--</div>-->
          <form class="commentEx" ng-show="showme" style=" width: 100%">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-default">+1</button><button class="btn btn-default"><i ng-click="showme=false" class="fa fa-share-square-o"></i></button>
              </div>
              <input type="text" class="form-control" placeholder="Add a comment.." style="width: 200px">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box" ng-show="!articles.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no articles
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a article!</p>
  </div>
</div>
<!--<script>-->
  <!--function Ctrl ($scope){-->
    <!--$scope.contenttt = articles[0].title;-->
    <!--var a=$scope.contenttt;-->
    <!--console.log("hi");-->
    <!--console.log(a);-->
  <!--}-->
  <!--Ctrl.$inject= ["$scope"];-->


<!--</script>-->
<style>
  .mid-box :after{
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    pointer-events: none;
    background: 0 0;
    background: -moz-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.3)),color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -o-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    /*background: linear,to bottom,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%;*/
  }
</style>
