<div class="row" >
  <div class="col-md-7">
    <div class="box box-primary">
      <h4 style="margin-left: 15px">
        <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
        <span ng-show="!audio.id" translate>Add a new audio</span>
        <span ng-show="audio.id" translate>Edit audio</span>
      </h4>
      <div class="row" style="margin-bottom: 0 !important;">
        <div class="col-md-12">
          <div class="alert alert-danger" ng-if="addError" translate>Could not add audio!</div>
        </div>
      </div>

      <div ng-controller="UploadCtrl" nv-file-drop uploader="uploader">
        <div ng-show="!uploader.getNotUploadedItems().length" style="padding: 15px">
          <label class="ng-binding">Type or paste a URL</label>
          <input type="text" ng-model="link" class="form-control">
          <formly-form ng-show="link.length" result="audio" fields="formFieldsUrl" options="formOptions" ng-submit="onSubmit()"></formly-form>
        </div>
        <div ng-show="!link">
          <div class="box-header">
            <h5 style="padding-left: 17px"><strong>Choose your audio file: </strong></h5>
            <div class="box-tools">
              <div class="input-group pull-right" style="margin-top: 5px;">

                    <span class="file-input btn btn-block btn-default btn-file">
                        {{ 'Browse' | translate }}&hellip; <input nv-file-select type="file" accept="audio/*" uploader="uploader" multiple/>
                    </span>
              </div>
            </div>
          </div>

          <div class="box-body">
            <table class="table">
              <thead>
              <tr>
                <th width="50%" translate>Name</th>
                <th ng-show="uploader.isHTML5" translate>Size</th>
                <th ng-show="uploader.isHTML5" translate>Progress</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>{{ uploader.queue[0].file.name }}</strong>
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ uploader.queue[0].file.size/1024/1024|number:2 }} MB
                </td>
                <td ng-show="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span ng-show="uploader.queue[0].isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="uploader.queue[0].isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="uploader.queue[0].isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.queue[0].remove()" ng-hide="!uploader.queue.length">
                      <span class="icon ion-ios-trash"></span>
                    </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <formly-form ng-hide="!uploader.getNotUploadedItems().length" style="padding: 15px" result="audio" fields="formFields" options="formOptions" ng-submit="upload()"></formly-form>

        <div class="controls" style="padding: 15px">
            <button type="button" class="btn btn-success " ng-click="upload(uploader.queue[0])"
                    ng-disabled="!uploader.getNotUploadedItems().length">
              <span class="icon ion-ios-upload"></span> {{ 'Upload' | translate }}
            </button>
          </div>
          </div>
        <div class="controls" style="padding: 15px">
          <button ng-hide="!link" class="btn btn-success" ng-click="onSubmit(link)">Submit</button>
          </button>
        </div>
        </div>
      </div>
  </div>
</div>

