<div class="box" ng-repeat="item in audios">
  <div class="box-header" style="border-bottom: 1px solid #f4f4f4;">
    <div class="box-title" style="display: inline-block">
      <img ng-show="{{item.cover}}" class="pull-left" style="float: left; margin-right: 10px" width="100px" height="100px" src="{{item.cover}}">
      <a href="{{item.url}}" target="_blank" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 30px" >{{item.title}}</a>
      <small ng-hide="!item.artist.length">- {{item.artist}}</small><br>
    </div>

    <div class="box-tools pull-right">
        <span class="pull-right btn-group" style="margin-top: 7px;">
          <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="" class="btn btn-xs btn-default" ng-click="delete({id: item.id})">
            <i class="fa fa-trash-o"></i>
          </a>
        </span>
    </div>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-7">
        {{item.content}}
      </div>
      <div class="col-md-5">
        <audio preload="none" controls ng-src="{{item.linkMp3|trusted}}"></audio>
      </div>
    </div>
  </div>

  <div class="box-footer">
      <span class="text-muted">
        {{item.created | date:'medium'}}
      </span>
  </div>
</div>


<div class="box" ng-show="!audios.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no audios
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a audio!</p>
  </div>
</div>
