<div class="box" ng-repeat="item in audios">
  <div class="box-header">
    <h3 class="box-title">
      <t href="" style="color: dodgerblue; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-style: italic; font-size: 30px" >{{item.title}}</t >
    </h3>

    <div class="box-tools pull-right">
      <span class="pull-right btn-group" style="margin-top: 7px;">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
    </div>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-7" style="white-space: pre; word-wrap: break-word;">{{item.content}}</div>
      <div class="col-md-5">
        <audio controls src="{{item.url | trusted}}" preload="none"></audio>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <span class="text-muted">
      {{item.created | date:'medium'}}
    </span>
  </div>
</div>


<div class="box" ng-show="!audios.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no audios
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a audio!</p>
  </div>
</div>

