<div class="box" ng-repeat="item in photos">
  <div class="box-header">
    <h3 class="box-title">
      <a href="" >{{item.title}}</a>
    </h3>

    <div class="box-tools pull-right">

      <span class="pull-right btn-group" style="margin-top: 7px;">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>

    </div>
    <p>Model: {{tags}}</p>
  </div>
  <div class="box-body">
    <div class="row" style="margin-bottom: 0 !important;">
      <div class="col-sm-9" style="white-space: pre;">{{item.content}}</div>
      <div class="col-sm-3">
        <img ng-src="{{item.url}}"/>

        <img ng-src="{{item.url1}}"/>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <span class="text-muted">
      {{item.created | date:'medium'}}
    </span>
  </div>
</div>


<div class="box" ng-show="!photos.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no photos
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a photo!</p>
  </div>
</div>
<style>
  .col-sm-3 img {
    margin-bottom: 10px;
  }
</style>
