<div class="box">
  <h4 style="margin-left: 15px">
    <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>

    <span ng-show="!link.id" translate>Add a new link</span>
    <span ng-show="link.id" translate>Edit link</span>
  </h4>

  <formly-form result="link" fields="formFieldsUrl" options="formOptions" ng-submit="onSubmit()"></formly-form>
  <div style="clear: both"></div>
  <div class="col-md-4">
    <div class="alert alert-danger" ng-if="addError" translate>Could not add link!</div>
    <formly-form result="link" fields="formFieldsDescription"  ng-submit="onSubmit()"></formly-form>
  </div>
  <div style="clear: both"></div>
  <div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()" style="margin-left: 15px" translate>Submit</button>
    <!--<button class="btn btn-default" data-dismiss="modal" translate>Cancel</button>-->
  </div>
</div>
