<header class="header">
    <a class="logo" href="/">
      <span class="logo-mini">
        <b>QTN</b>
      </span>
      <span class="logo-lg">QTN Global</span>
    </a>
    <navbar></navbar>
</header>
<div>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <section class="content">
        <div class="row">
          <!--<div class="col-md-2">-->
          <ul class="nav nav-pills nav-stacked" style="display:inline">
            <li ng-repeat="item in items" ui-sref-active="active" style="float:left">
              <a href="" ui-sref="{{item.sref}}">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <div ui-view></div>
      </section>

    </div>
</div>
