<nav class="navbar navbar-static-top" role="navigation">
  <a class="navbar-btn sidebar-toggle" data-toggle="offcanvas" ng-click="toggleSidebar()" role="button">
    <span class="sr-only" translate>Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <div class="seachEx" style="float: left; margin-top: 4px">
    <form class="navbar-seach navbar-left ">
      <div class="input-group input-group-sm reponsiveSeach" style="width:300px">
        <input type="text" class="form-control" placeholder="QTN Global search" name="srch-term" id="srch-term" style="background: rgba(0,0,0,.13); color: white">
        <div class="input-group-btn">
          <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="navbar-right">
    <ul ng-show="!currentUser.firstName" class="nav navbar-nav">
      <li class="page-scroll" style="margin-right: 20px; margin-top: -3px">
      <li class="page-scroll">
        <button type="button" class="btn btn-success" ng-click="goToLogin()" style="margin-top: 0;  margin-right: 5px">Login</button>
      </li>
      <li class="page-scroll">
        <button type="button" class="btn btn-success" ng-click="goToRegister()" style="margin-top: 0; margin-right: 10px">Sign up</button>
      </li>
    </ul>

    <ul ng-hide="!currentUser.firstName" class="nav navbar-nav">
      <li class="">
        <a type="button" class="btn fa fa-home" ng-click="goToHome()" style="margin-top: -10px; color: white; font-size: 30px"></a>
      </li>
      <li class="">
        <a type="button" class="btn fa fa-compass" ng-click="goToExplore()" style="margin-top: -10px; color: white;font-size: 26px"></a>
      </li>
      <!--<li class="dropdown user user-menu" style="margin-top: 0!important">-->
        <!--&lt;!&ndash;<a class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 6px!important;">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-flag flag-icon flag-icon-{{selectLocale.country.toLowerCase() }}"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;{{ selectLocale.name | translate }} <i class="caret"></i> </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<ul class="dropdown-menu">-->
          <!--<li ng-repeat="(index, locale) in locales" ng-show="locale != selectLocale">-->
            <!--<a ng-click="setLocale(index)">-->
              <!--<span class="flag-icon flag-icon-{{locale.country.toLowerCase() }}"></span> {{locale.name | translate }}-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <li class="dropdown user user-menu" style="margin-top: 0!important;">
        <a class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 6px!important;">
          <i class="glyphicon glyphicon-user"></i>
          <span>{{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}<i class="caret"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header bg-light-blue">
            <img gravatar-src="currentUser.email" class="img-circle" alt="User Image">

            <p>
              {{currentUser.firstName || currentUser.profiles[0].profile.displayName}}
              <small>{{currentUser.email}}</small>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a ui-sref="app.users.profile({username: currentUser.username})" class="btn btn-default btn-flat" translate>Profile</a>
              <!--<a ui-sref="app.users.profile" class="btn btn-default btn-flat" translate>Profile</a>-->
            </div>
            <div class="pull-right">
              <a ng-click="logout()" class="btn btn-default btn-flat" translate>Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
