<header class="header">
  <a class="logo" href="/">
    <ul class="ca-menu logo-mini">
      <li class="ca-content">
        <img class="ca-main " src="images/qtn.png"/>
        <img class="ca-sub " src="images/qtn.png"/>
      </li>
    </ul>
    <span class="logo-lg">QTN</span>
  </a>
  <navbar></navbar>
</header>
<div>
  <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      <section class="sidebar">
        <div class="user-panel sangbar" style="border-bottom: 1px solid #dbdbdb">
          <div class="pull-left image">
            <img rel="{{item.id}}" ng-src="{{user.avatar}}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><a href="" ui-sref="app.users.profile"> {{ 'Hello,' | translate }} {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}</a></p>
            <p><small><a href="" ui-sref="app.users.profile">{{ currentUser.email }}</a></small></p>
          </div>
        </div>
        <div class="user-panel">
          <div id="mainnav-shortcut">
            <ul class="list-unstyled">
              <li data-content="Additional Sidebar" class="col-xs-4" role="button" data-original-title="" title="">
                <a href="#" data-toggle="control-sidebar" ng-click="additional()" class="shortcut-grid" id="demo-toggle-aside">
                  <i class="fa fa-magic"></i>
                </a>
              </li>
              <li data-content="Notification" class="col-xs-4 Notific" ng-click="notification()" role="button" data-original-title="" title="">
                <a href="#" class="shortcut-grid" id="demo-alert">
                  <i class="fa fa-bullhorn"></i>
                </a>
              </li>
              <li data-content="Page Alerts" class="col-xs-4 pAlert" role="button" data-original-title="" title="">
                <a href="#"  class="shortcut-grid" id="demo-page-alert">
                  <i class="fa fa-bell"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li ng-repeat="item in menuoptions" ng-click="toggleSidebar1()" ui-sref-active="active">
            <a class=" hideT" href="" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> <span class="nameitem">{{item.name | translate}}</span></a>
          </li>
        </ul>
      </section>
    </aside>
    <aside ui-view class="right-side at-view-fade-in at-view-fade-out">

    </aside>
  </div>
</div>
