<section class="content-header">
  <div class="pull-right">
  </div>
  <h1>
    {{ 'Home' | translate }}
    <small translate>Welcome!</small>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" title="Make a post">
      Create
    </button>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <tabset class="nav-tabs-custom">
        <tab heading="{{ 'Dashboard' | translate }}">
          <div class="row">

            <small-box name="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                       quantity="{{ box.quantity }}" href="{{ box.href }}" ng-repeat="box in boxes | orderBy:['-quantity', 'name']"></small-box>

          </div>
        </tab>
        <tab heading="{{ 'Variables' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4 translate>Current user</h4>
              <pre>{{currentUser | json}}</pre>
            </div>
            <div class="col-md-6">
              <h4 translate>Settings</h4>
              <pre>{{settings | json}}</pre>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'Theme' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4> {{ 'Theme' | translate }}
                <small>{{appTheme}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="theme in appThemes" ng-click="setSetting('appTheme', theme.class)">
                  {{theme.name}}
                </button>
              </div>
              <h4>Layout
                <small>{{appLayout}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="layout in appLayouts" ng-click="setSetting('appLayout', layout.class)">
                  {{layout.name}}
                </button>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" >
  <div class="modal-dialog">
    <div class="post-tab-switching finish-animating ">
      <div class="tab-post-types count-4">
        <div class="tab-post-type item" data-index="0" data-post-type="news" ui-sref="app.news.add"  data-dismiss="modal">
          <div class="post-type-icon icon-text" style="opacity: 1; transform: translateY(0px);">
            <i class="post-type-icon-overlay"></i>
          </div>
          <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
            <span class="post-type-name-span">News</span>
          </div>
        </div>
        <div class="tab-post-type item" data-index="1" data-post-type="event" ui-sref="app.events.add"  data-dismiss="modal" >
          <div class="post-type-icon icon-photo" style="opacity: 1; transform: translateY(0px);">
            <i class="post-type-icon-overlay"></i>
          </div>
          <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
            <span class="post-type-name-span">Event</span>
          </div></div><div class="tab-post-type item" data-index="2" data-post-type="projects" ui-sref="app.projects.add" data-dismiss="modal">
        <div class="post-type-icon icon-quote" style="opacity: 1; transform: translateY(0px);">
          <i class="post-type-icon-overlay"></i>
        </div>
        <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
          <span class="post-type-name-span">Project</span>
        </div>
      </div>
        <div class="tab-post-type item" data-index="3" data-post-type="course" ui-sref="app.course.add"  data-dismiss="modal">
          <div class="post-type-icon icon-link" style="opacity: 1; transform: translateY(0px);">
            <i class="post-type-icon-overlay"></i>
          </div><div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
          <span class="post-type-name-span">Course</span>
        </div>
        </div>
      </div>
    </div>

    <!--</div>-->
  </div>
</div>

