<div id="page-alert">
  <div class="alert-wrap in" ng-repeat="Alert in addAlerts">
    <div class="alert {{Alert}}" role="alert">
      <button class="close" type="button" ng-click="removeAdd($index)">
        <i class="fa fa-times-circle"></i>
      </button>
      <div class="media">
        <div class="media-left">
          <span class="icon-wrap icon-wrap-xs icon-circle alert-icon"> </span>
        </div>
        <div class="media-body">
          <h4 class="alert-title">Sticky Alert Box</h4>
          <p class="alert-message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content-header">
  <div class="pull-right">
  </div>
  <h1>
    {{ 'Home' | translate }}
    <small translate>Welcome!</small>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" title="Make a post">
      Create
    </button>
  </h1>
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
    </div>
  </form>
</section>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
<section class="content">



  <div class="row">
    <div class="col-xs-12">
      <tabset class="nav-tabs-custom">
        <tab heading="{{ 'Dashboard' | translate }}">
          <div class="row">

            <small-box name="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                       quantity="{{ box.quantity }}" href="{{ box.href }}" ng-repeat="box in boxes | orderBy:['-quantity', 'name']"></small-box>

          </div>
        </tab>
        <tab heading="{{ 'Variables' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4 translate>Current user</h4>
              <pre>{{currentUser | json}}</pre>
            </div>
            <div class="col-md-6">
              <h4 translate>Settings</h4>
              <pre>{{settings | json}}</pre>
            </div>
          </div>
        </tab>
        <tab heading="{{ 'Theme' | translate }}">
          <div class="row">
            <div class="col-md-6">
              <h4> {{ 'Theme' | translate }}
                <small>{{appTheme}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="theme in appThemes" ng-click="setSetting('appTheme', theme.class)">
                  {{theme.name}}
                </button>
              </div>
              <h4>Layout
                <small>{{appLayout}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="layout in appLayouts" ng-click="setSetting('appLayout', layout.class)">
                  {{layout.name}}
                </button>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" >
  <div class="modal-dialog">
    <div class="post-tab-switching finish-animating ">
      <div class="tab-post-types count-4">
        <div class="tab-post-type item" data-index="0" data-post-type="news" data-toggle="modal" data-target="#addNews" >
          <div class="post-type-icon icon-text" style="opacity: 1; transform: translateY(0px);">
            <i class="post-type-icon-overlay"></i>
          </div>
          <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
            <span class="post-type-name-span">News</span>
          </div>
        </div>
        <!--<div class="tab-post-type item" data-index="1" data-post-type="event" data-toggle="modal" data-target="#addEvent" >-->
          <!--<div class="post-type-icon icon-photo" style="opacity: 1; transform: translateY(0px);">-->
            <!--<i class="post-type-icon-overlay"></i>-->
          <!--</div>-->
          <!--<div class="post-type-name" style="opacity: 1; transform: translateY(0px);">-->
            <!--<span class="post-type-name-span">Event</span>-->
          <!--</div></div>-->
          <div class="tab-post-type item" data-index="2" data-post-type="projects" data-toggle="modal" data-target="#addProject" >
        <div class="post-type-icon icon-quote" style="opacity: 1; transform: translateY(0px);">
          <i class="post-type-icon-overlay"></i>
        </div>
        <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
          <span class="post-type-name-span">Project</span>
        </div>
      </div>
        <!--<div class="tab-post-type item" data-index="3" data-post-type="course" data-toggle="modal" data-target="#addCourse" >-->
          <!--<div class="post-type-icon icon-link" style="opacity: 1; transform: translateY(0px);">-->
            <!--<i class="post-type-icon-overlay"></i>-->
          <!--</div><div class="post-type-name" style="opacity: 1; transform: translateY(0px);">-->
          <!--<span class="post-type-name-span">Course</span>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>

    <!--</div>-->
  </div>
</div>
</section>

<div class="modal fade" id="addProject" ng-controller="ProjectsCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            <span  translate>Add a new project</span>
          </h3>
          <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="alert alert-danger" ng-if="addError" translate>Could not add project!</div>
          </div>
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          <formly-form result="project" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
        </div>
        <div class="box-footer">
          <div class="controls">
            <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Submit</button>
            <button class="btn btn-default" ng-click="reset()" translate>Cancel</button>
          </div>
        </div>
        <div ng-if="loading" class="overlay"></div>
        <div ng-if="loading" class="loading-img"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNews" ng-controller="NewsCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
          <h3 class="box-title" translate>
             Add news
          </h3>
       </div>
          <div class="modal-body">
           <div class="row">
              <div class="col-md-4">
             <div class="alert alert-danger" ng-if="addError" translate>Could not add news!</div>
              <formly-form result="new" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
            </div>
               </div>
            </div>
           <div class="modal-footer">
           <div class="controls">
              <button class="btn btn-primary btn-success" ng-click="onSubmit()" data-dismiss="modal" translate>Submit</button>
               <button class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
            </div>
           </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="addEvent" ng-controller="EventsCtrl">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h3 class="box-title" translate>-->
          <!--Add a new event-->
        <!--</h3>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="row">-->
          <!--<div class="alert alert-danger" ng-if="addError" translate>Could not add event!</div>-->
        <!--</div>-->
        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <!--<formly-form result="event" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<div class="controls">-->
          <!--<button class="btn btn-primary btn-success" ng-click="onSubmit()" data-dismiss="modal" translate>Submit</button>-->
          <!--<button class="btn btn-default" data-dismiss="modal" translate>Cancel</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div ng-if="loading" class="overlay"></div>-->
      <!--<div ng-if="loading" class="loading-img"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->



<!--<div class="modal fade" id="addCourse" ng-controller="EventsCtrl">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h3 class="box-title" translate>-->
          <!--Add a new event-->
        <!--</h3>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<div class="row">-->
          <!--<div class="alert alert-danger" ng-if="addError" translate>Could not add event!</div>-->
        <!--</div>-->
        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <!--<formly-form result="event" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<div class="controls">-->
          <!--<button class="btn btn-primary btn-success" ng-click="onSubmit()" data-dismiss="modal" translate>Submit</button>-->
          <!--<button class="btn btn-default" data-dismiss="modal" translate>Cancel</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div ng-if="loading" class="overlay"></div>-->
      <!--<div ng-if="loading" class="loading-img"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
