<header class="header">
    <a class="logo" href="/">
      <ul class="ca-menu logo-mini">
        <li class="ca-content">
          <img class="ca-main " src="images/qtn.png"/>
          <img class="ca-sub " src="images/qtn.png"/>
        </li>
      </ul>
      <span class="logo-lg">QTN</span>
    </a>
    <navbar></navbar>
</header>
<div>
    <div class="wrapper row-offcanvas row-offcanvas-left">
      <section class="test">
        <div class="row menuEx" style="position: fixed; z-index: 10; background: white!important;">
          <!--<div class="col-md-2">-->
          <ul class="m-menuEx" style="display:inline">
            <li class="active" ng-repeat="item in items" ui-sref-active="active" style="float:left;color: #000077">
              <a href="" ui-sref="{{item.sref}}">{{item.name}}</a>
            </li>
          </ul>
        </div>
        <div ui-view style="padding-top: 60px; min-height: 600px;background: #E7EBEE!important" >
          <div class="newfeed" style="width: 300px;height: 400px; float: right;background: #E7EBEE"></div>
        </div>
        <div class="footer" style="margin: auto; width: 58px">
          <button class=" btn btn-default" ng-click="loadMore()">More</button>
        </div>
      </section>
    </div>
</div>
<style>

</style>
