<div class="tab-post-types count-7">
  <div>
    <div class="tab-post-type item" data-index="0" data-post-type="text">
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
      </div>
    </div>

    <div ng-click="goToArticle()" class="tab-post-type item" data-index="1" data-post-type="photo">
      <div class="post-type-icon icon-photo" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div>
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <span class="post-type-name-span">Article</span>
      </div>
    </div>

    <div ng-click="goToPhoto()" class="tab-post-type item" data-index="2" data-post-type="quote">
    <div class="post-type-icon icon-quote" style="opacity: 1; transform: translateY(0px);">
      <i class="post-type-icon-overlay"></i>
    </div>
    <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
      <span class="post-type-name-span">Photo</span>
    </div>
  </div>

    <div ng-click="goToLink()" class="tab-post-type item" data-index="2" data-post-type="link">
      <div class="post-type-icon icon-link" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div><div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
      <span class="post-type-name-span">Link</span>
    </div>
    </div>

    <div ng-click="goToAudio()" class="tab-post-type item" data-index="4" data-post-type="chat">
    <div class="post-type-icon icon-chat" style="opacity: 1; transform: translateY(0px);">
    <i class="post-type-icon-overlay"></i>
    </div>
    <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
    <span class="post-type-name-span">Audio</span>
    </div></div>

    <div ng-click="goToVideo()" class="tab-post-type item" data-index="3" data-post-type="audio">
      <div class="post-type-icon icon-audio" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div>
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <span class="post-type-name-span">Video</span>
      </div></div>

    <div class="tab-post-type item" data-index="4" data-post-type="video">
      <!--<div class="post-type-icon icon-video" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i></div>-->
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <!--<span class="post-type-name-span">Video</span>-->
      </div>
    </div>
  </div>
</div>

<style>
  .post-type-name-span{
    color:black;
  }
</style>
