<!--<div class="box" ng-repeat="item in news">-->
  <!--<div class="box-header">-->
    <!--<h3 class="box-title">-->
      <!--<a href="" ui-sref="^.view({id: item.id})">{{item.title}}</a>-->
      <!--<br/>-->
      <!--<small>-->
        <!--Created:-->
        <!--{{item.created | date:'medium'}}-->
        <!--<span ng-if="item.created !== item.modified">-->
          <!--&middot; modified:-->
          <!--{{item.modified | date:'medium'}}-->
        <!--</span>-->
      <!--</small>-->
    <!--</h3>-->

    <!--<div class="box-tools pull-right">-->

      <!--<span class="pull-right btn-group" style="margin-top: 7px;">-->
        <!--<a href="" class="btn btn-xs btn-default"-->
           <!--ui-sref="^.edit({id: item.id})">-->
          <!--<i class="fa fa-pencil"></i>-->
        <!--</a>-->
        <!--<a href="" class="btn btn-xs btn-default"-->
           <!--ng-click="delete({id: item.id})">-->
          <!--<i class="fa fa-trash-o"></i>-->
        <!--</a>-->
      <!--</span>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="box-body">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-9" style="white-space: pre;">{{item.content}}</div>-->
      <!--<div class="col-sm-3">-->
        <!--<img ng-if="item.image" ng-src="{{item.image}}?id={{item.id}}"/>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="box-footer">-->
    <!--<span class="text-muted">-->
      <!--{{item.created | date:'medium'}}-->
      <!--&middot;-->
      <!--0 comments-->
      <!--&middot;-->
      <!--0 likes-->
    <!--</span>-->
  <!--</div>-->
<!--</div>-->


<!--<div class="box" ng-show="!news.length">-->
  <!--<div class="box-header">-->
    <!--<h3 class="box-title">-->
      <!--There are no news-->
    <!--</h3>-->
  <!--</div>-->
  <!--<div class="box-body">-->
    <!--<p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>-->
      <!--to add a new!</p>-->
  <!--</div>-->
<!--</div>-->



<div class="tab-post-types count-7">
  <div class="background">
    <div class="tab-post-type item" data-index="0" data-post-type="text">
      <!--<div class="post-type-icon icon-text" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div>-->
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <!--<span class="post-type-name-span">Article</span>-->
      </div>
    </div>

    <div class="tab-post-type item" data-index="1" data-post-type="photo">
      <div class="post-type-icon icon-photo" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div>
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <span class="post-type-name-span">Article</span>
      </div>
    </div>

    <div ng-click="goToProject()" class="tab-post-type item" data-index="2" data-post-type="quote">
    <div class="post-type-icon icon-quote" style="opacity: 1; transform: translateY(0px);">
      <i class="post-type-icon-overlay"></i>
    </div>
    <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
      <span class="post-type-name-span">Photo</span>
    </div>
  </div>

    <div ng-click="goToLink()" class="tab-post-type item" data-index="2" data-post-type="link">
      <div class="post-type-icon icon-link" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div><div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
      <span class="post-type-name-span">Link</span>
    </div>
    </div>

    <div class="tab-post-type item" data-index="4" data-post-type="chat">
    <div class="post-type-icon icon-chat" style="opacity: 1; transform: translateY(0px);">
    <i class="post-type-icon-overlay"></i>
    </div>
    <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
    <span class="post-type-name-span">Audio</span>
    </div></div>

    <div class="tab-post-type item" data-index="3" data-post-type="audio">
      <div class="post-type-icon icon-audio" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i>
      </div>
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <span class="post-type-name-span">Video</span>
      </div></div>

    <div class="tab-post-type item" data-index="4" data-post-type="video">
      <!--<div class="post-type-icon icon-video" style="opacity: 1; transform: translateY(0px);">
        <i class="post-type-icon-overlay"></i></div>-->
      <div class="post-type-name" style="opacity: 1; transform: translateY(0px);">
        <!--<span class="post-type-name-span">Video</span>-->
      </div>
    </div>
  </div>
</div>

<style>
  .post-type-name-span{
    color:black;
  }
</style>
