
<div class="box" ng-repeat="item in videos">
  <div class="box-header">
    <h3 class="box-title">
      <a href="{{item.url}}" style="color: dodgerblue; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-style: italic; font-size: 25px" >{{item.title}}</a>
    </h3>

    <div class="box-tools pull-right">

      <span class="pull-right btn-group" style="margin-top: 7px;">
        <a href="" class="btn btn-xs btn-default"
           ui-sref="^.edit({id: item.id})">
          <i class="fa fa-pencil"></i>
        </a>
        <a href="" class="btn btn-xs btn-default"
           ng-click="delete({id: item.id})">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>

    </div>
  </div>
  <div class="box-body">
    <div class="row" style="margin-bottom: 0 !important;">
      <div class="col-sm-6" style="white-space: pre;">{{item.content}}</div>
      <div class="col-sm-6">
        <div ng-hide="!item.upChoose" ng-disabled="!item.upChoose">
          <iframe width="380px" height="200px" src="{{item.url}}"></iframe>
        </div>
        <div ng-hide="item.upChoose" ng-disabled="item.upChoose">
          <a href="{{item.url|trusted}}" target="_blank">
            <img src="{{item.liveurlImg|trusted}}" width="380px" height="200px">
            <p>{{item.liveurlDescription|trusted}}</p>
            <!--<p>{{item.liveurlImg|trusted}}</p>-->
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <span class="text-muted">
      {{item.created | date:'medium'}}
    </span>
  </div>
</div>


<div class="box" ng-show="!videos.length">
  <div class="box-header">
    <h3 class="box-title">
      There are no videos
    </h3>
  </div>
  <div class="box-body">
    <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a>
      to add a video!</p>
  </div>
</div>
<script>
  $("video").removeAttr("autoplay");
</script>
