<section admin-header class="content-header" title="{{ 'Videos' | translate }}" sub-title="{{ 'Manage your videos here!' | translate }}">
    <div data-toggle="modal" data-target="#ChooseAdd" class="btn btn-default btn-sm" translate><a>Add</a></div>
  <div class="modal" id="ChooseAdd" >
    <div class="modal-dialog" style="width: 50%">
      <div class="l-content clearfix">
        <div ng-controller="UploadCtrl" nv-file-drop uploader="uploader" class="indash_blog" style="background-color: rgb(250, 250, 250);">
          <div class="modal-header">
            <div class="controls-left">
              <a href="/" class="User_name">user {{videos.ownerName}}</a>
            </div>
          </div>
          <div class="modal-body">
            <div class="media-dropzone split-dropzone toggle-dropzone-upload">
              <div class="split-cells">
                <div class="split-cell media-upload-button" style="border-right: 1px solid black;">
                  <div class="v-center-inner">
                    <div class="dropzone-icon dropzone-add-video-icon">
                    </div>
                    <button ng-click="uploadVideos()" style="margin-top: 5px">
                      <span class="dropzone-text">Upload a video</span>
                    </button>
                  </div>
                </div>
                <div class="split-cell media-url-button">
                  <div class="v-center-inner">
                    <!--ui-sref=".add"-->
                    <button ng-click="upVideosFromWeb()" style="margin-top: 5px">
                      <span class="dropzone-text">Add video from web</span>
                    </button>
                  </div>

                </div>
              </div>
              <div class="row12" style=" margin-bottom: 0 !important;">
                <div class="col-md-12">
                  <div class="alert alert-danger" ng-if="addError" translate>Could not add video!</div>
                  <formly-form result="video" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
                </div>
                <div class="box-tools">
                  <div class="input-group pull-right" style="margin-top: 5px;">
                    <span class="file-input btn btn-block btn-default btn-file">
                        {{ 'Browse' | translate }}&hellip; <input class="upVideo" nv-file-select type="file" accept="video/*" uploader="uploader" multiple/>
                    </span>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="progress" style="margin-bottom: 0;">
                    <div ng-if="uploader.progress" class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                  </div>
                </div>
              </div>
              <div class="upVideoWeb">
                <div class="col-md-6">
                  <div class="alert alert-danger" ng-if="addError" translate>Could not add video!</div>
                  <formly-form result="video" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
                </div>
                <div class="col-md-6">
                  <br>
                  Url:<input type="text" ng-model="yt.url">
                  <br><br>
                  <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer footer">
                <button ng-click="closeUpVideo()">Close</button>
                <span><button type="button" class="btn btn-success btn-xs PC" ng-click="upload(uploader.queue[0])"
                              ng-disabled="!uploader.getNotUploadedItems().length">Post</button>
                </span>
                 <span><button type="button" class="btn btn-success btn-xs web" ng-click="posts()">Post</button>
                </span>
              </div>
        </div>
      </div>
      <!--</div>-->
    </div>
  </div>
</section>
<section ui-view class="content"></section>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<style>
  .controls-container {
    display: table;
    width: 100%;
    padding: 10px 15px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .controls-left {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
  }
  .User_name{
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
  }
  .media-dropzone {
    border-top: 2px dashed lightgrey;
    border-bottom: 2px dashed lightgrey;
    background-color: #f1f1f1;
    color: #999;
    height: 200px;
  }
  .media-dropzone.split-dropzone .split-cells {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
  }
  .media-dropzone.split-dropzone .split-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .v-center-inner {
    vertical-align: middle;
    text-align: center;
  }
  .media-dropzone .dropzone-add-video-icon, .media-preview .dropzone-add-video-icon {
    text-align: left;
    width: 56px;
  }
  .media-url-button {
    position: relative;
    background-color: rgba(241,241,241,0);
  }
  .fromPC .media-dropzone.split-dropzone .split-cells{
    display: none;
  }
  .fromWeb .media-dropzone.split-dropzone .split-cells{
    display: none;
  }
  .row12{
    display: none;
  }
  .footer{
    display: none;
  }
  .fromPC .row12{
    display: block;
  }
  .fromPC .footer{
    display: block;
  }
  .fromPC .modal-footer .web{
    display: none;
  }
  .upVideoWeb{
    display: none;
  }
  .fromWeb .upVideoWeb{
    display: block;
  }
  .fromWeb .footer{
    display: block;
  }
  .fromWeb .modal-footer .PC{
    display: none;
  }

</style>

