<div class="containerArticle" >
  <div isotope-container class="masonry-article">
    <div isotope-item class="boxEx" ng-repeat="item in articles" ng-controller='ArticlesCtrl1' >
      <div ng-mouseenter="show = true" ng-mouseleave="show = false">
        <div class="top-box" style=" width: 100%; position: absolute;z-index: 1">
          <div class="avatar" style="display: inline-block; width: 30px; height: 30px; margin: 4px;z-index: 1">
            <img rel="{{item.id}}" ng-mouseenter="display(item)" ng-src="{{item.ava}}" />
          </div>
          <div class="post_info_qtnglobal User_name " style="z-index: 1">
            <a href="#">{{item.ownerName}}</a>
          </div>
          <div  class="dropdown" ng-show="show" style="float: right;margin: 8px ">
            <button type="button" class="btn-mini " ><i class="fa fa-user-plus"></i>  Add friend</button>
            <button type="button" class="btn-mini " id="menuArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-mini" aria-labelledby="menuArticle">
              <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
              <li><a href="http://localhost:3000/#/app/users/profile/"><i class="fa fa-user"></i> User profile</a></li>
              <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
              <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important; opacity: 1 !important; float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
            </ul>
          </div>
        </div>
        <div class="mid-box">
          <div class="item-article"  style="width: 100% ">
            <img ng-src="{{item.image}}" ng-click="open(item)"/>
            <a> <br></a>
            <script type="text/ng-template" id="myModalContent.html" >
              <div class="modal-header">
                <a href="#">{{items.ownerName}}</a>
              </div>
              <img ng-src="{{items.image}}" />
              <div class="modal-footer">
                <button class="btn" ng-click="ok()">OK</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
              </div>
            </script>
          </div>
        </div>
        <div class="box-header content-article">
          <div class="box-header scroll">
            <h3 class="box-body" >
              {{item.title}}
            </h3>

          </div>
          <div class="box-body" >
            <div ng-bind-html='deliberatelyTrustDangerousContent(item)'>
            </div>
            </div>
          <div class="box-footer" style="bottom: 0; width: 100%">
            <audio controls ng-show="{{item.audio}}" ng-src="{{item.audio | trusted}}" style="width:100%"></audio>
            <video controls ng-show="{{item.video}}" ng-src="{{item.video | trusted}}" style="width:100%" ></video>
            <div class="date_update_aricle" style="width: 100%">
              <p style="margin: 0 10px 0 0;font-size: 12px;float: left">{{item.created | date:'fullDate'}}</p>
            <span class="text-muted" style="float: right;;margin-bottom: 7px">
            &middot;
            <a href="#" title="Share"><i class="fa fa-share"></i> </a>
            <a href="#" title="Comment"><i  class="fa fa-comments-o"></i></a>
            <a href="#" title="Like"><i class="fa fa-heart"></i> </a>
          </span>
            </div>
        </div>
      </div>
    </div>
</div>


<style>
  .mid-box :after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    pointer-events: none;
    background: 0 0;
    background: -moz-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.3)),color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -o-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
    /*background: linear,to bottom,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%;*/
  }
</style>


