<div class="father">
  <div isotope-container class="mother">
    <div isotope-item class="box" ng-repeat="item in articles" style="border-radius: 5px; height: 350px">
      <div class="col-sm-3a">
        <div class="col-sm-3b" style=" margin: 5px; width: 100%x; ; border-bottom: 1px solid #F4F4F4">
          <div class="avatar" style="display: inline-block; font-size: 14px; width: 30px">
            <img rel="{{item.id}}" ng-mouseenter="display(item)" ng-src="{{item.image}}" />
          </div>
          <div class="User_name">
            <a href="#">{{item.ownerName}}</a>
          </div>
          <div class="dropdown btn-group btn-group-xs" style="float: right">
            <button type="button" class="btn btn-primary" ng-click="pop()"><i class="fa fa-user-plus"></i>  Add friend</button>
            <button type="button" class="btn btn-primary" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
              <li><a href="#"><i class="fa fa-user"></i> User profile</a></li>
              <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
              <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important; opacity: 1 !important; float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
            </ul>
          </div>
        </div>
        <div class="contentt">
          <div class="box-header">
            <h3 class="box-title">
              <a ng-bind-html="deliberatelyTrustDangerousTitle(item)"></a>
            </h3>
          </div>
          <div class="box-body">

            <div ng-bind-html="deliberatelyTrustDangerousContent(item)"></div>
            <div>
              <img ng-show="item.image" ng-src="{{item.image}}"/>
              <audio controls ng-show="item.audio" ng-src="{{item.audio | trusted}}" style="width:100%"></audio>
              <video controls ng-show="item.video" src="{{item.video| trusted}}" style="width:100%"                                                                                     ></video>
            </div>


          </div>

          <div class="box-footer" style="position: absolute;bottom: 0; width: 100%">
    <span class="text-muted" style="float: right">
      <p style="float:left">{{item.created | date:'medium'}}</p>
      &middot;
      <a href="#/explore/articles">  <i class="fa fa-thumbs-o-up"></i> </a>
      <a href="#/explore/articles">   <i class="fa fa-comments-o"></i></a>
      <a href="#/explore/articles">  <i class="fa fa-share"></i></i> </a>

    </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .col-sm-3a img {
    width: 100% !important;
    text-align: center;
    margin: 0px;

  }
  .User_name{
    display: inline-block;
    font-size: 13px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    color: cornsilk !important;
    position: absolute;
    margin-left: 5px ;
  }
  .father{
    padding: 0 50px 4%;
    margin: 0 auto;
  }
  .father a,h3,p {
    text-decoration: none;
    font-size: 14px;
  }
  .box{
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .box-title {

  }
  .text-muted a {
    margin-left: 6px;
    float: left;
  }
  .box {
    border-top: none !important;
  }
  .popover-content{
    padding: 0!important;
  }
</style>
