<div class="containerExplore">
  <div isotope-container class="masonry-photo" ng-controller="modal_show_photo">
    <div isotope-item class="boxEx" ng-repeat="item in audios" style="margin-bottom: 15px; width: 350px">
      <div ng-mouseenter="show = true" ng-mouseleave="show = false"  ng-controller="hideMenu">
        <div class="top-box">
          <div class="avatarEx hovergallery" style="">
            <img src="images/avatar_default.png"/>
          </div>
          <div class="post_info_qtnglobal User_name ">
            <a href="#">{{item.ownerName}}</a>
          </div>
          <div  class="dropdown" ng-show="show">
            <button type="button" class="btn-mini " ><i class="fa fa-user-plus"></i>  Add friend</button>
            <button type="button" class="btn-mini " id="menuPhoto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-mini" aria-labelledby="menuPhoto">
              <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
              <li><a href="http://localhost:3000/#/app/users/profile/"><i class="fa fa-user "></i> User profile</a></li>
              <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
              <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important; opacity: 1 !important; float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
            </ul>
          </div>
        </div>
        <div class="mid-box">
          <div class="item-photo">
            <img ng-src="{{item.cover}}" />
            <audio ng-hide="!item.linkMp3.length" controls src="{{item.linkMp3|trusted}}"></audio>
            <iframe width="350" height="80" src="{{item.embedUrl|trusted}}" frameborder="0" allowfullscreen="true"></iframe>
          </div>
        </div>
        <div class="bot-box">
          <div class="ct-pt-title">
            <h3>
              {{item.title}}
            </h3>
          </div>
          <div class="ct-pt-content">
            <p>{{item.content|limitTo: limitText}}</p>
            <a id="readmore" href="" isotope-item style="position: relative" ng-click="limitText = item.content.length" ng-hide="item.content.length<=200||limitText == item.content.length||!item.content">...Readmore</a>
          </div>
          <div class="footer-bot-box">
            <div class="date_update_photo">
              <p style="font-size: 12px">{{item.created | date:'fullDate'}}</p>
            </div>
          <span class="text-muted">
            &middot;
            <a href="#" title="Like"><i class="fa fa-heart"></i> </a>
            <a href="#" ng-click="showme=true" title="Comment"><i  class="fa fa-comment"></i></a>
            <a href="#" title="Share"><i class="fa fa-share"></i> </a>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .mid-box :after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    display: block;
    width: 100%;
    border-radius: 3px 3px 0 0;
    pointer-events: none;
    background: 0 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .3)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 100%) !important;
  }
  /*background: linear,to bottom,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%;*/
</style>
