<nav class="navbar navbar-static-top" role="navigation">
  <a class="navbar-btn sidebar-toggle" data-toggle="offcanvas" ng-click="toggleSidebar()" role="button">
    <span class="sr-only" translate>Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
    <li class="page-scroll" style="margin-right: 20px; margin-top: -3px">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
             <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    <li class="page-scroll">
      <button type="button" class="btn btn-success" ng-click="goToLogin()" style="margin-top: 9px;  margin-right: 5px">Login</button>
    </li>
    <li class="page-scroll">
      <button type="button" class="btn btn-success" ng-click="goToRegister()" style="margin-top: 9px; margin-right: 10px">Sign up</button>
    </li>
    </ul>
  </div>
</nav>

<!--

<style>
  .navbar{
    background-color: #E7EBEE !important;
  }
</style>
-->
