<section class="container" >
  <ul>
    <li class="box item alert" ng-repeat="item in photos " >
      <div class="bg-col-sm-3" style="position: absolute;background: #000000; width: 100%;height: 50px; opacity: 0.5;border-radius: 10px 10px 0 0;" > </div>

      <div class="col-sm-3a" style=" position: absolute;width: 100%;border-radius: 10px">
        <div class="avatar hovergallery" style="font-size: 14px; width: 30px; height: 30px;display: inline-block;  background-size: cover; margin: 5px">
          <img src="images/avatar_default.png"/>
        </div>
        <div class="post_info_qtnglobal User_name" style="font-size: 15px;display: inline-block">
          <a style="color: white !important">{{item.ownerName}}</a>
        </div>
        <div class="dropdown btn-group btn-group-xs" style="margin: -35px 0 0 90px">
          <button type="button" class="btn btn-primary" ng-click="pop()"><i class="fa fa-user-plus"></i>  Add friend</button>
          <button type="button" class="btn btn-primary" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
            <li><a href="#"><i class="fa fa-user"></i> User profile</a></li>
            <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
            <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important;float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
          </ul>
        </div>


      <!--<div class="user_photo" >-->
        <!--<a type="button" class="photo-hover" data-toggle="modal" data-target="#myModal" data-backdrop="true" ng-click="preview" style="width: 100%" >-->
          <!--<img ng-src="{{item.url}}" />-->
          <!--<img ng-src="{{item.url1}}"/>-->
        <!--</a>-->
      <!--</script>-->
      <!--</div>-->
        <div ng-controller="ModalDemoCtrl">
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
              <ul>
                <li ng-repeat="item in items">
                  <a ng-click="selected.item = item">{{ item }}</a>
                </li>
              </ul>
              Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>

          <button class="btn btn-default" ng-click="open()">{{item.url}}</button>

        </div>
        <!-- Modal -->

        <!--<script>-->
          <!--$(document).ready(function(){-->

            <!--$('.photo-hover').popover({title: "Header", content: "Blabla", trigger: "hover"});-->

          <!--});-->

      <div class="box-content" style="min-height: 100px">
        <div class="box-header">
          <h3 class="box-title">
            <a href="">{{item.title}}</a>
          </h3>
        </div>
        <div class="box-body">
          <a style="white-space: pre">{{item.content}}</a>
        </div>
        <div class="box-footer" style="padding: 15px;bottom: 0; width: 100%">
          <span class="text-muted" style="float: right;margin-top: -9px">
            <a href="#" data-toggle="tooltip" title="Like"><i class="fa fa-thumbs-o-up"></i> </a>
      <a href="#" data-toggle="tooltip" title="Comment"><i class="fa fa-comments-o"></i></a>
      <a href="#" data-toggle="tooltip" title="Share"><i class="fa fa-share"></i> </a>
          </span>
        </div>
      </div>
    </li>
  </ul>
</section>
<!--<div class="modal fade" id="myModal" role="dialog">-->
  <!--<div class="modal-dialog">-->
    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--By: {{item.ownerName}}-->
      <!--</div>-->
      <!--<div class="modal-body" style="width: 100%">-->
        <!--<img ng-src="{{item.urlimage}}"  />-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<style>
  .User_name{
    font-size: 14px;
    margin: 5px ;
  }
  .col-sm-3a img {
    width: 100%;
    height: 100%;

  }
  .col-sm-3c img {
    border-radius: 5px 5px 0 0;
  }

  .post_info_qtnglobal{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin-left: 5px ;
  }
  .text-muted a {
    margin-left: 6px;
    float: left;
  }
  .hovergallery img{
    -webkit-transform:scale(0.8);
    /*Webkit: Scale down image to 0.8x original size*/
    /*-moz-transform:scale(0.8);*/
    /*Mozilla scale version*/
    -o-transform:scale(0.8);
    /*Opera scale version*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s;
    /*Mozilla duration version*/
    -o-transition-duration: 0.5s;
    /*Opera duration version*/
    opacity: 0.7;
    /*initial opacity of images*/
    margin: 0 10px 5px 0;
    /*margin between images*/ }
  .hovergallery img:hover{
    -webkit-transform:scale(1.1);
    /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.5);
    /*Mozilla scale version*/
    -o-transform:scale(1.1);
    /*Opera scale version*/
    /*box-shadow:0px 0px 30px gray;*/
    /*/!*CSS3 shadow: 30px blurred shadow all around image*!/*/
    /*-webkit-box-shadow:0px 0px 30px gray;*/
    /*/!*Safari shadow version*!/*/
    /*-moz-box-shadow:0px 0px 30px gray;*/
    /*/!*Mozilla shadow version*!/ opacity: 1;*/
  }
  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {

    text-decoration: none;
    color: #000;
  }

  ul {
    list-style: none;
  }

  img {
    display: block;
    max-width: 100%;        /* flexible image */
    outline: none;
    border: none;
    margin: 0 auto;         /* canh giữa image */

  }

  .container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 auto;
  }

  .container ul .item {
    border-radius: 5px;
    display: block;
    width: 32%;     /* chia layout ra làm 3 cột - mỗi cột chiếm 32% của container */
    margin: 7px 5px;
    padding: 0;
  }
  /* Responsive design */
  @media screen and (max-width: 900px) {
    .container ul .item {
      width: 45%;
    }
  }
  @media screen and (max-width: 500px) {
    .container ul .item {
      width: 100%;
    }
  }
</style>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<!--<script>-->
<!--$(document).ready(function() {-->
<!--var $container = $('.container');-->
<!--$container.masonry({-->
<!--itemSelector: '.item'-->
<!--});-->
<!--})-->
<!--</script>-->
<script>
  //  function centerModal() {
  //    $(this).css('display', 'block');
  //    var $dialog = $(this).find(".modal-dialog");
  //    var offset = ($(window).height() - $dialog.height()) / 2;
  //    // Center modal vertically in window
  //    $dialog.css("margin-top", offset);
  //  }
  //
  //  $('.modal').on('show.bs.modal', centerModal);
  //  $(window).on("resize", function () {
  //    $('.modal:visible').each(centerModal);
  //  });
</script>





