<div class="father">
  <div class="mother">
    <div class="wrapper grid">
      <div class="box grid-item " ng-repeat="item in photos | limitTo: myLimit" style="float: left; border-radius: 5px; height: 350px">
        <div class="col-sm-3a">
          <div class="col-sm-3b" style=" width: 100%; ; border-bottom: 1px solid #F4F4F4">
            <div class="avatar hovergallery" style="display: inline-block; font-size: 14px; width: 30px; height: 30px; margin: 4px">
            <img src="images/avatar_default.png"/>
            </div>
            <div class="post_info_qtnglobal" style="font-size: 15px; margin-top: 3px">
              <div class="User_name">
                <a>{{item.ownerName}}</a>
              </div>
          </div>
            <button class="col-sm-3c" data-toggle="modal" data-target="#myModal" style="width: 100%;height: 190px">
          <img ng-src="{{item.url}}" /></a>
          <img ng-src="{{item.url1}}"/>
          </a>
            </button>
          </div>
          <!--Modal-->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <img ng-src="{{item.url}}"/>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

</div>
          <div class="box-header scroll">
          <h3 class="box-title">
            <a href="{{item.url}}" style="color: #000808; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-style: normal; font-size: 18px" >{{item.title}}</a>
            <br/>
            <!--<small>
              Created:
              {{item.created | date:'medium'}}
              <span ng-if="item.created !== item.modified">
                &middot; modified:
                {{item.modified | date:'medium'}}
              </span>
            </small>-->
          </h3>
        </div>
        <div class="box-body">
            <div style="white-space: pre">{{item.content}}</div>
        </div>
        <div class="box-footer" style="position: absolute;bottom: 0px; width: 100%">
          <span class="badge">đã xem</span>
          <span class="text-muted" style="float: right">
      {{item.created | date:'medium'}}
      &middot;
      <a href="#/explore/photos">  <i class="fa fa-thumbs-o-up"></i> </a>
      <a href="#/explore/photos">  <i class="fa fa-comments-o"></i></a>
      <a href="#/explore/photos">  <i class="fa fa-share"></i> </a>
    </span>
        </div>
        </div>
      </div>
      <div class="btn text-center">
        <button class=" btn btn-default" ng-click="loadMore()">More</button>
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <ul class="pagination">
            <li>
              <a href="#">&laquo;</a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
<style>
  .User_name{
    font-size: 14px;
    max-width: 160px;
    color: blue !important;
    margin: 5px ;
  }
  .grid-item {
    border-color: hsla(0, 0%, 0%, 0.5);
  }
  .col-sm-3a img {
    width: 100% !important;
    height: 100%;
    text-align: center;
    margin: 0px;

  }
  .post_info_qtnglobal{
    display: inline-block;
    font-size: 13px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    color: cornsilk !important;
    position: absolute;
    margin-left: 5px ;
  }
  .mother{
    width: 1140px;
    padding: 0 50px 4%;
    margin: 0 auto;
  }
  .mother a,h3,p {
    text-decoration: none;
    font-size: 14px;
  }
  .box{
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .box-title {

  }
  .text-muted a {
    margin-left: 6px;
    float: left;
  }
  .box {
    border-top: none !important;
  }
  .hovergallery img{
    -webkit-transform:scale(0.8);
    /*Webkit: Scale down image to 0.8x original size*/
    /*-moz-transform:scale(0.8);*/
    /*Mozilla scale version*/
    -o-transform:scale(0.8);
    /*Opera scale version*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s;
    /*Mozilla duration version*/
    -o-transition-duration: 0.5s;
    /*Opera duration version*/
    opacity: 0.7;
    /*initial opacity of images*/
    margin: 0 10px 5px 0;
    /*margin between images*/ }
  .hovergallery img:hover{
    -webkit-transform:scale(1.1);
    /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.5);
    /*Mozilla scale version*/
    -o-transform:scale(1.1);
    /*Opera scale version*/
    box-shadow:0px 0px 30px gray;
    /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray;
    /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray;
    /*Mozilla shadow version*/ opacity: 1;
  };
</style>



