<section class="container " ng-controller="h-dropdown1">
  <div class="masonry">
    <div class="box grid-item alert" ng-repeat="item in photos" style="border-radius: 5px; margin-bottom: 10px">
      <span ng-mouseenter="show = true" ng-mouseleave="show = false" >
        <div class="col-sm-3b" style=" width: 100%; position: absolute;z-index: 1">
          <div class="avatar hovergallery" style="display: inline-block; width: 30px; height: 30px; margin: 4px;z-index: 1">
            <img src="images/avatar_default.png"/>
          </div>
          <div class="post_info_qtnglobal User_name" style="z-index: 1">
            <a href="#">{{item.ownerName}}</a>
          </div>
          <div  class="dropdown" ng-show="show" style="float: right;margin: 8px ">
            <button type="button" class="btn-mini " ng-click="pop()"><i class="fa fa-user-plus"></i>  Add friend</button>
            <button type="button" class="btn-mini " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-mini" aria-labelledby="dropdownMenu1">
              <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
              <li><a href="#"><i class="fa fa-user"></i> User profile</a></li>
              <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
              <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important; opacity: 1 !important; float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
            </ul>
          </div>
        </div>
         <!--<div class="bg-top" style="height: 50px;background: black;opacity: 0.7"></div>-->
        <div class="col-sm-3a" ng-controller="ModalDemoCtrl" style="width: 100%">
          <img ng-src="{{item.url}}" ng-click="open(item)"  />
          <img ng-src="{{item.url1}}" ng-click="open(item)"  />
          <script type="text/ng-template" id="myModalContent.html">
            <!--<div class="modal-header">-->
            <!--<h3 class="modal-title">By: {{items.ownerName}}</h3>-->
            <!--</div>-->
            <img ng-src="{{items.url}}" />
            <img ng-src="{{items.url1}}" />
          </script>
        </div>

        <div class="content-photo" style="min-width: 300px" >
          <div class="box-header scroll">
            <h3 class="box-title">
              <a href="" style="color: #000808; font-style: normal; font-size: 18px" >{{item.title}}</a>
            </h3>
          </div>
          <div class="box-body" >
            <style>
              .box-body :before {
                content: '#';
              }
            </style>
            <div style="white-space: pre">{{item.content}}</div>
            <!--<p>Model: {{tags}}</p>-->
          </div>
          <div class="TagPhoto">
            <p>{{tags}}</p>
          </div>
        </div>
        <div class="box-footer" style="bottom: 0; width: 100%">
          <!--<rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>-->
          <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>-->
          <span class="text-muted" style="float: right;;margin-bottom: 7px">
      &middot;
            <a href="#" data-toggle="tooltip" title="Like"><i class="fa fa-thumbs-o-up"></i> </a>
            <a href="#" data-toggle="tooltip" title="Comment"><i class="fa fa-comments-o"></i></a>
            <a href="#" data-toggle="tooltip" title="Share"><i class="fa fa-share"></i> </a>
          </span>
          <script>
            $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();
            });
          </script>
        </div>

      </span>
    </div>
  </div>
</section>
<style>
 .container{
 }
  .post_info_qtnglobal a{
    color: white;
    font-size: 15px;
  }
  .text-muted i{
    color: black;
  }
.col-sm-3a :after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  display: block;
  width: 100%;
  border-radius: 3px 3px 0 0;
  pointer-events: none;
  background: 0 0;
  background: -moz-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.3)),color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
  background: -o-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
  background: -ms-linear-gradient(top,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%);
  background: linear,to bottom,rgba(0,0,0,.3)0%,rgba(0,0,0,0)100%;
  }
  .User_name{
    font-size: 14px;
    max-width: 160px;
    color: blue !important;
    margin: 5px ;
  }
  .grid-item {
    padding: 0 !important;
  }
  .col-sm-3a img {
    width: 100% !important;
    height: 100%;
    text-align: center;
    margin: 0 ;
    border-radius: 5px 5px 0 0;
  }
  .post_info_qtnglobal{
    display: inline-block;
    font-size: 13px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    color: cornsilk !important;
    position: absolute;
    margin-left: 5px ;
  }
  .box{
    width: 270px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .box-title {
  }
  .text-muted a {
    margin-left: 6px;
    float: left;
  }
  .box .box-footer {
    border-top: none !important;
  }
  .hovergallery img{
    -webkit-transform:scale(0.8);
    /*Webkit: Scale down image to 0.8x original size*/
    /*-moz-transform:scale(0.8);*/
    /*Mozilla scale version*/
    -o-transform:scale(0.8);
    /*Opera scale version*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s;
    /*Mozilla duration version*/
    -o-transition-duration: 0.5s;
    /*Opera duration version*/
    opacity: 0.7;
    /*initial opacity of images*/
    margin: 0 10px 5px 0;
    /*margin between images*/ }
  .hovergallery img:hover {
    -webkit-transform: scale(1.1);
    /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform: scale(1.5);
    /*Mozilla scale version*/
    -o-transform: scale(1.1);
    /*Opera scale version*/
    /*box-shadow:0px 0px 30px gray;*/
    /*/!*CSS3 shadow: 30px blurred shadow all around image*!/*/
    /*-webkit-box-shadow:0px 0px 30px gray;*/
    /*/!*Safari shadow version*!/*/
    /*-moz-box-shadow:0px 0px 30px gray;*/
    /*/!*Mozilla shadow version*!/ opacity: 1;*/
  }
  li {
    list-style-type: none;
  }
  .animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
  }
  .animate-show {
    display: inline-block !important;
  }
  .animate-show {
    opacity: 0;
  }
</style>
<script>
  $('.masonry').freetile({
    selector:'.box',
    animate: true,
    elementDelay: 20
  })
</script>


