<div class="father" style="padding-bottom: 0">
  <div isotope-container class="wrapper">
    <div isotope-item class="box" ng-repeat="item in videos| limitTo: myLimit" style="float: left; border-radius: 5px; height: 350px">
      <div class="col-sm-3a">
        <div class="col-sm-3b hovergallery" style=" margin: 5px; width: 100%; ; border-bottom: 1px solid #F4F4F4">
          <div class="avatar" style="display: inline-block; font-size: 14px; width: 30px">
            <img ng-src="{{item.liveurlImg}}"/>
          </div>

          <div>
            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-body">
                <div class="header">
                  <div class="indash_header_wrapper has_info tumblelog_name_solidblackdn" style="background-color:#FAFAFA; color:#444444">
                    <div class="header_image_wrapper has_avatar" style="height: 380px">
                      <div class="header_image" style="height: 380px;">
                        <a href="" target="_blank">
                          <img id="coverI" ng-src="{{user.cover}}" alt="cover_image"/>
                        </a>
                      </div>
                    </div>

                    <div class="avatar square show1" style="color: rgb(250, 250, 250); text-align: center; background-color: rgb(250, 250, 250);">
                      <a href="" target="_blank">
                        <img id="avatarI" ng-src="{{user.avatar}}" target="_blank" alt="avatar_image">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </script>

            <div ng-click="getUserData(item)"><a>{{item.ownerName}}</a></div>
          </div>

        </div>
        <div class="contentt">
          <div class="box-header">
            <h3 class="box-title">
              <a style="color: #000808; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-style: normal; font-size: 18px" >{{item.title}}</a>
            </h3>
          </div>
          <div class="box-body">
            <video controls ng-src="{{item.url|trusted}}" style="width: 100%"></video>
            <div style="white-space: pre">{{item.content | limitTo: 40}}{{item.content.length > 40 ? '...' : ''}}</div>
            <div class="readMore" style="margin: auto; width: 73px">
              <a href="" ui-sref="app.videos.view({id: item.id})" type="button" class="btn btn-link btn-xs" ng-show="item.content.length < 40 ? false:true">Read more</a>
            </div>
          </div>

          <div class="box-footer" style="position: absolute;bottom: 0; width: 100%">
            <small>
              Created:
              {{item.created | date:'medium'}}
            </small>
            <span class="text-muted" style="float: right">

              <a href="#/explore/articles">  <i class="fa fa-thumbs-o-up"></i> </a>
              <a href="#/explore/articles">   <i class="fa fa-comments-o"></i></a>
              <a href="#/explore/articles">  <i class="fa fa-share"></i></i> </a>

            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="margin: auto; width: 58px">
    <button class=" btn btn-default" ng-click="loadMore()">More</button>
  </div>
</div>

<div class="modal" id="create" >
  <div class="modal-dialog">
    <!--<div class="post-tab-switching finish-animating ">-->
    <div class="l-content clearfix">
      <div class="indash_blog" style="min-height: 306px; background-color: rgb(250, 250, 250);">
        <div class="header">
          <div class="indash_header_wrapper has_info tumblelog_name_solidblackdn" style="background-color:#FAFAFA; color:#444444">
            <div class="header_image_wrapper has_avatar" style="height: 380px">
              <div class="header_image" style="height: 380px;>
              <a href=" target="_blank">
                <img id="coverImage" ng-src="{{user.cover}}" alt="cover_image"/>
                </a>
              </div>
            </div>


            <div class="avatar square show1" style="color: rgb(250, 250, 250); text-align: center; background-color: rgb(250, 250, 250);">
              <a href="" target="_blank">
                <img id="avatarImage" ng-src="{{user.avatar}}" target="_blank" alt="avatar_image">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">



<style>
  .col-sm-3a img {
    width: 100% !important;
    text-align: center;
    margin: 0px;

  }
  .User_name{
    display: inline-block;
    font-size: 13px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    color: cornsilk !important;
    position: absolute;
    margin-left: 5px ;
  }
  .father{
    padding: 0 50px 4%;
    margin: 0 auto;
  }
  .father a,h3,p {
    text-decoration: none;
    font-size: 14px;
  }
  .box{
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .text-muted a {
    margin-left: 6px;
    float: left;
  }
  .box {
    border-top: none !important;
  }

</style>
<style type="text/css">

  .hovergallery img{ -webkit-transform:scale(0.8);
    /*Webkit: Scale down image to 0.8x original size*/
    /*-moz-transform:scale(0.8);*/
    /*Mozilla scale version*/
    -o-transform:scale(0.8);
    /*Opera scale version*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s;
    /*Mozilla duration version*/
    -o-transition-duration: 0.5s;
    /*Opera duration version*/
    opacity: 0.7;
    /*initial opacity of images*/
    margin: 0 10px 5px 0;
    /*margin between images*/ }
  .hovergallery img:hover{
    -webkit-transform:scale(1.1);
    /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.5);
    /*Mozilla scale version*/
    -o-transform:scale(1.1);
    /*Opera scale version*/
    box-shadow:0px 0px 30px gray;
    /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray;
    /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray;
    /*Mozilla shadow version*/ opacity: 1;
  } </style>

