<div class="containerExplore" >
  <div isotope-container class="masonry-Explore" ng-controller="modal_show_photo">
    <div isotope-item class="boxEx" ng-repeat="item in videos">
      <div ng-mouseenter="show = true" ng-mouseleave="show = false"  ng-controller="hideMenu">
        <div class="top-box" style="position: relative">
          <div class="avatarEx">
            <img ng-src="{{user.avatar}}/>
          </div>
          <div class="post_info_qtnglobal">
            <a href="#">{{item.ownerName}}</a>
          </div>
          <div  class="dropdown" ng-show="show">
            <button type="button" class="btn-mini " ><i class="fa fa-user-plus"></i>  Add friend</button>
            <button type="button" class="btn-mini " id="menuPhoto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-cog"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-mini" aria-labelledby="menuPhoto">
              <li><a href="#"><i class="fa fa-heartbeat"></i> Follow</a></li>
              <li><a href="http://localhost:3000/#/app/users/profile/"><i class="fa fa-user "></i> User profile</a></li>
              <li><a href="#"><i class="fa fa-weixin"></i>Message</a></li>
              <li><a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 14px !important; opacity: 1 !important; float: left !important;"><i class="fa fa-times-circle"></i>Hide Post</a></li>
            </ul>
          </div>
        </div>
        <div class="mid-box">
          <div class="itemVideo">
            <div ng-hide="!item.upChoose" ng-disabled="!item.upChoose">
              <video ng-hide="!item.upFrom" style="width:100%" ng-src="{{item.url|trusted}}" controls></video>
              <iframe ng-hide="item.upFrom" style="width:100% ;height:200px" ng-src="{{item.urlweb|trusted}}"></iframe>
            </div>
            <div ng-hide="item.upChoose" ng-disabled="item.upChoose">
              <a href="{{item.url|trusted}}" target="_blank">
                <img src="{{item.liveurlImg|trusted}}" width="100%" height="auto">
                <!--<p>{{item.liveurlImg|trusted}}</p>-->
              </a>
            </div>
          </div>
        </div>
        <div class="bot-box">
          <div class="ct-pt-title">
            <h3>
              {{item.title}}
            </h3>
          </div>
          <div class="ct-pt-content">
            <p>{{item.content}}</p>
          </div>
          <div class="footer-bot-box">
            <div class="date_update_photo">
              <p style="font-size: 12px">{{item.created | date:'fullDate'}}</p>
            </div>
          <span class="text-muted">
            &middot;
            <a href="#" title="Like"><i class="fa fa-heart"></i> </a>
            <a href="#" ng-click="showme=true" title="Comment"><i  class="fa fa-comment"></i></a>
            <a href="#" title="Share"><i class="fa fa-share"></i> </a>
          </span>
            <!--<div  ng-show="showme" style=" width: 100%; padding: 10px" >-->
            <!--<div class="comment-content" style="float: right">-->
            <!--</div>-->
            <!--<p>{{item.ownerName}}: <input type="text" ng-model="commentPhoto"></p>-->
            <!--<a ng-click="showme=false" style="position:relative;float: right">Hide</a>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
