<!--
<div class="row">
  <div class="col-xs-12">
    <tabset class="nav-tabs-custom">
      <tab ng-repeat="item in items | orderBy: 'name'"  heading="{{item.name}}" ui-sref-active="active" href="" ui-sref="{{item.sref}}">
      </tab>

    </tabset>
  </div>
</div>
-->


<section class="content">
  <div class="row">
    <!--<div class="col-md-2">-->
      <ul class="nav nav-pills nav-stacked" style="display:inline">
        <li ng-repeat="item in items | orderBy: 'name'" ui-sref-active="active" style="float:left">
          <a href="" ui-sref="{{item.sref}}">{{item.name}}</a>
        </li>
      </ul>
  </div>
  <div ui-view></div>
</section>
